body {
    background: url(../images/book.jpg) no-repeat center center fixed; 
     background-size: cover;

}
.wrapper {
    text-align: center;
}


h1{
    color: wheat;
    font-family: Georgia, serif;
    font-size:60px;
    text-align: center;
    margin-top:100px;
}
a {
    color:inherit;
    text-decoration: none;
}


.button1 {
    margin-top: 15%;
    
    border: 0;
    line-height: 2.5;
    padding: 0 25px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color:#819037;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.button1:hover {
    background-color:lightgreen;
}

    footer {
    position : absolute;
    height: 30px;
    width: 100%;
    background-color:#025a31;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    margin-bottom: 0px;
}
a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
}


a:hover{
    color: rgba(194, 243, 138, 0.746);
    text-decoration: underline;
}